<div class="page-header-top" style="background-color:#ffffff">
  <div class="container">
    <div class="page-logo">
      <img src="/images/logo-powergate.png" alt="logo" style="width:250px" class="logo-default">
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="app.incident">
            Incident List
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.jobQueue">
            Job Queue
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.admin" ng-click="showAdminChoices()">
            Admin
          </a>
        </li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>
<div class="modal fade" id="modalConfirmLogout" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to leave this application ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="logout()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
